$main-color: #313131;
$second-color: #80cbe1;
$clair-color: #fafafa;
$blackground: #a6e9f5;

body {
  background: #edeef4;
}
.border {
  border: red solid 2px;
}
@mixin border {
  border: red solid 2px;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

