$main-color: #313131;
$second-color: #80cbe1;
$clair-color: #fafafa;
$blackground: #a6e9f5;

body {
  background: #edeef4;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
@mixin border {
  border: red solid 2px;
}


