@import '../Vars.scss';
.addModal {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formInput {
      width: 100%;
      padding: 1em;
      margin-bottom: .5em;
      outline: none;
      border: none;
      border-radius: 1em;
      border: #2a2a2a solid 1px;
    }
    #btnSubmit {
      padding: 1em;
      outline: none;
      border: none;
      color: #fff;
      font-size: 1.2em;
      font-weight: bold;
      background: #8ac149;
      border-radius: 1em;
    }
  }
}