@import '../Vars.scss';
@import '../breakpoints';
.header {
  background: linear-gradient(#11aec8,#edeef4);
  color: #fff;
  display: grid;
    grid-template-areas:
        "logo user"
        "nav nav";
    padding: 0em 2em 0em .3em;
  &__logoContainer {

    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 50%;
    .logo {
      width: 10%;
      transform: rotate(180deg);
    }
    span {
      color: #2c3e73;
    }
  }
  &__perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-area: user;
    position: relative;
    top: 50%;
    p {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    }
    .perfil {
      width: 10%;
      border-radius: 50%;
      

    }
  }
  &__nav {
    color: #2a2a2a;

    font-weight: bold;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid rgba(0, 0, 0, 0);

    ul {
      display: flex;
      list-style: none;
      li {
        padding: 1em;
      }
    }
  }
  
  .nav_active {
    border-bottom: 3px solid #000;
    color: #141414;
  }
}

@include media (tablet) {
  .header {
    &__logoContainer {
      .logo {
        width: 15%;
      }
    }
    &__perfil{
      .perfil {
        width: 20%;
        border-radius: 50%;
      }
    }
    &__nav {
      ul {
        li {
          font-size: 1em;
          padding: .5em;
        }
      }
    }
  }

}
@include media(mobile-l){
  .header {
    width: 100%;
    &__logoContainer {
      font-size: .9em;
      .logo {
        width: 25%;
      }
    }
    &__perfil{
      .perfil {
        width: 30%;
        border-radius: 50%;
      }
    }
    &__nav {
  
      ul {
        display: flex;
        list-style: none;
        li {
          font-size: .8em;
          padding: .5em;
        }
      }
    }
  }
}
@include media(mobile-m){
  .header {
    &__logoContainer {
      font-size: .9em;
      .logo {
        width: 25%;
      }
    }
    &__perfil{
      .perfil {
        width: 30%;
        border-radius: 50%;
      }
    }
    &__nav {
      ul {
        li {
          font-size: .9em;
          padding: .5em;
        }
      }
    }
  }

}
@include media(mobile-s){
  .header {
    &__logoContainer {
      font-size: .7em;
      .logo {
        width: 35%;
      }
    }
    &__perfil{
      .perfil {
        width: 40%;
        border-radius: 50%;
      }
    }
    &__nav {
      font-size: .8em;
      ul {
        li {
          padding: .5em;
        }
      }
    }
  }
}

