@import '../Vars.scss';
@import '../breakpoints';
.header {
  background: linear-gradient(#19A8E0,#edeef4);
  color: #fff;
  display: grid;
  grid-template: 1fr .5fr / 1fr 1fr;
  grid-template-areas: "logo user"
                        "nav nav";

  width: 100%;
  padding: 0 1em;
  &__logoContainer {
    grid-area: logo;
    .logo {
      width: 20%;
    }
  }
  &__perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-area: user;
    p {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    }
    .perfil {
      width: 10%;
      border-radius: 50%;
      

    }
  }
  &__nav {
    color: #2a2a2a;
    font-weight: bold;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid rgba(0, 0, 0, 0);

    ul {
      display: flex;
      list-style: none;
      li {
        padding: 1em;
      }
    }
  }
  
  .nav_active {
    border-bottom: 3px solid #000;
    color: #141414;
  }
}

@include media(mobile-only){
  .header {
    width: 100%;
    padding: 1em 1em 0 .5em;
    &__logoContainer {
      grid-area: logo;
      .logo {
        width: 60%;
      }
    }
    &__perfil{
      
      .perfil {
        width: 30%;
        border-radius: 50%;
        
  
      }
    }
  }
}

