@import '../Vars.scss';
.main {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.233);
}
.add {
  width: 20%;
  border: none;
    position: relative;
    font-size: 1em;
    padding: .5em;
    right: -80%;
    color: white;
    background: #7cc073;
    border-radius: 2em;
    outline: none;
}
