@import '../Vars.scss';

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.65);
  &__container {
    background: #ffffffc7;
    padding: 2em;
  }
  &__close {
    position: relative;
    right: -100%;
    top: -70%;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
  }
  &__close:hover {
    color: red;
  }
}
