@import '../Vars.scss';

.targetPost {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
  background: #f4f6f5;
  box-shadow: 0px 7px 5px -4px rgba(5, 5, 9, 0.445);
  display: grid;
  grid-template:auto auto auto auto/ 5% 65% 25% 5% ;
  grid-template-areas:
      "goBack diagnosis date goNext"
      "goBack details details goNext"
      "goBack viewMore viewMore goNext";
  position: relative;
  border-radius: 2em;
  overflow-x: hidden;
  &__date {
    grid-area: date;
    background: inherit;
    background: #95a71a;
    padding: 1em;
    color: $clair-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    right: 0;
    border-radius: 0 0 0em 2em;
    box-shadow: 0px 7px 5px -4px rgba(5, 5, 9, 0.445);
    
  }
  &__user--info {
  
    grid-area: userInfo;
    display: flex;
  }
  .label {
    color: #0b0b09;
    font-size: 1.2em;
    margin-right: .3em;
    letter-spacing: .1em;
    color: #27b3b8;
    font-weight: 900;
  }
  .user-info {
    padding: 1em 2em 0em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__diagnosis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .viewMore {
    margin-top: 1em;
    grid-area: viewMore;
    width: 30%;
    margin: 0 auto;
    margin-top: .5em;
    font-size: 1.5em ;
    border-radius: 2em 2em 0 0;
    outline: none;
    border: none;
    background: rgba(92, 150, 151, 0.466);
    cursor: pointer;
    transition:.3s;
    color: white;
    
  }
 
  .viewMore:hover {
    background:  #27b3b8ce;
  }
  .viewMore.hide {
    
    color: rgba(255, 0, 0, 0.561);
    background: #27b3b869;

  }
 
  .attacheds__gallery {
    display: flex;
    justify-content: space-around;
    img {
      max-width: 20%;
      
    }
  }
  &__details {
    grid-area: details;
  }
  .go {
    background:#2e2a21ce ;
    
  }
  .go.next {
    grid-area:goNext;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    font-size: 1.5em ;
  }
  .go.next:hover {
    background: #84d7d9;
  }
  
 
  .go.back {
    grid-area:goBack;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    font-size: 1.5em ;
    i {
      transform: rotate(-180deg);
    }
    
  }
  .go.back:hover{
    background: #f78b38;
  }
 
}
.none {
  display: none;
}