@import '../Vars.scss';
@import '../breakpoints';
.target {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
  background: #f4f6f5;
  box-shadow: 0px 7px 5px -4px rgba(5, 5, 9, 0.445);
  display: grid;
  grid-template: auto/ 70% 30%;
  grid-template-areas:
      "info date ";
  position: relative;
  border-radius: 2em;
  overflow-x: hidden;
  padding: 0em 0em 0em 2em;

  &__date {
    grid-area: date;
    color: white;
    background: #0197cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  &__info {
    padding: .5em;
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr 1fr;
    grid-template-areas: "sex age"
                          "diagnosis diagnosis"
                          "surgery surgery";
    .info.sex {
      grid-area: sex;
    }    
    .info.age {
      grid-area: age;
    }  
    .info.diagnosis {
      grid-area: diagnosis;
    } 
    .info.surgery {
      grid-area: surgery;
    }                     
  }
}

.label {
  font-weight: 700;
  color: #005A7A;
  letter-spacing: .07em;
  font-size: large;
}

.btn_delete{
  position: absolute;
  top: 5%;
  right: 2%;
  padding: .3em;
  border: none;
  background: rgba(0, 0, 0, 0.329);
  font-size: .8em;
  border-radius: 2em;
  outline: none;
  color: white
  
  
}
.btn_delete:hover {
  background: #dd4c3b;
  color: white
}



@include media(mobile-only){
  .target {
    font-size: 14px;
  }
  .label {
    font-size: 17px;
  }
}

