@import '../Vars.scss';

.target {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
  background: #f4f6f5;
  box-shadow: 0px 7px 5px -4px rgba(5, 5, 9, 0.445);
  display: grid;
  grid-template: auto/ 70% 30%;
  grid-template-areas:
      "info date ";
  position: relative;
  border-radius: 2em;
  overflow-x: hidden;
  padding: 0em 0em 0em 2em;
  &__date {
    grid-area: date;
    color: white;
    background: #0197cc;
    font-family: 'Archivo Black', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__info {
    grid-area: info;
    ;
    .sex {
      justify-content: flex-start;
    }
  }
}
.label, .data--info {
  margin: 0;
} 
.label {
  font-family: 'Archivo Black', sans-serif; 
  color: #11aec8;
  letter-spacing: .07em;
  font-size: large;
}

.btn_delete{
  position: absolute;
  top: 5%;
  right: 2%;
  padding: .3em;
  border: none;
  background: rgba(0, 0, 0, 0.329);
  font-size: .8em;
  border-radius: 2em;
  outline: none;
  color: white
  
  
}
.btn_delete:hover {
  background: #dd4c3b;
  color: white
}

.primary--info {
  display : grid;
  grid-template: 1fr / 70% 30%;
  ;
 
}

